apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
  annotations:
    kubernetes.io/change-cause: "Update nginx to tag 1.27.0-alpine"
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.27.1-alpine
          # image: nginx:1.27.1alpine
          ports:
            - containerPort: 80
  strategy:
    type: RollingUpdate